<h1>New User</h1>

<% if flash[:alert]%>
    <p id="notice"><%= flash[:alert] %></p>
<%end%>

<%= render 'form', {user: @user, action: 'create'} %>
<div style="float: left; width: 50px"><%= button_to 'Go Back', options_path, :method => 'get' %></div>
