<h1>New Room</h1>

<% if flash[:alert]%>
    <p id="notice"><%= flash[:alert] %></p>
<%end%>

<%= render 'form', {room: @room, action: 'create'}%>
<br />
<%= button_to 'Go Back', options_path, method: :get%>