<h1>New Room</h1>

<% if flash[:alert]%>
    <p id="notice"><%= flash[:alert] %></p>
<%end%>

<%= render 'form', {room: @room, action: 'create'}%>
<br />
<%= link_to 'Back to Dashboard', options_path %>