<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @room.rnumber %>
</p>
<p>
  <strong>Building:</strong>
  <%= @room.building.bname %>
</p>

<%= link_to 'Back', rooms_path %>
