table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 10px;
    padding-left: 10px;
}
thead {
    font-size: 25px;font-weight: bold;background-color: #333333;color:#FFFFFF;font-weight: bold;
}
tbody {
    background-color: #eeeeee;
}